language: node_js
node_js:
- '8'
env:
  global:
  - secure: tKlLvqNVWIFTPJ6UP8XIyJzpP7MCqdkTtL4sXPMxsoQe31kwuSK+ccWORn92XFAdnKsNt9851jU1Q8tydtyV6/bALY+YukO5Zr3or9LXZtoToJtNNpJ9u8276ZgfLfjj6MhSW7jiyBwjlBonfctnTyV6VE5694HYyGgh66vttH+6ZY/Tk/5L+7hyhSYWqjaMq1BA8tkxOw2faZKWu5+6GbTYacKg+MyH8LtoI2VVh7D9UNH56aOrdmo3sdwagNatevvq5DvmssDig/BHnwimUXQBd1ORZ8NKQDXylidTpdnY3OhD5kxCxMC286cCjZoIGT7iFI48zAGkE5h0PjWPGJTzBmJsb5pgWBuVLxGh1t6dIpFN357JyxOzKW7GWLzQ9BcGKNiJLzUzDisUxjBTpHvGq2jm7KODtd/1rB2xX3WGu4BatXKuFSzYr4s2Nld2AOsZFjJhVYF2XOY4IJwz093jhX9wliw9jqCIJz72jlZXm5YvCvO7J0EC8VOb2fBFDt5PCswa6DRE7ZIiyhQGuEBXVW0Yn40jeV3f5VNQCg0dM162UwlStyQ/VhgLFrKNe5c/t3NJumKR0Xtetvc9ifPKuQX2zJjNFVvjU6zUalgyOpSD2D+//Racbmvw57HtDHkAHkpQ9Nfe81jhSqo1oVjQbO4zQH39xgyhTPZPO1M=
  - secure: XF7ZTi0r2mho22mV+yfhHwK2FEP/6tVE8ZWYTP8s6uKh0ObPjjv0kHJSE2+TpxiYL5K/NEvJRYruRZnwxLN+9jxMfqhcioKo3UKBegbm86LWAlD1+Mnnz5NLy1ir2OPQo48pbyPNzUZFNfx99BUDcAXdCfi6FIzyEyhgo7JlMCyaG0q/WhOKHLYpqsEgc7c04xVw5jxvmYEF7pF14kHTmVptMWRcykETme7gaW0DPDdKnOxb5aSM5doDrdhGmX0alUOr7RbPzJP+ogstxyNZV+qdpMx+2w5CDFZwfvzvMxSTF9wQ6VAZl3KGyYGmEJ9nd6LsWz3AsnJK/QPAXqenxUfIorZDBpHppX5UJIpDnrdIyN7tZKzX0xF/Q4/UCRW7LLDttOgrO1s9mwQylSjKb9VyQLuo5xv/i9Bay3bT5ZnUQH1CbmbuxfkwzVy5ayfC8Mdl82GM4pvh5RmeOlZPQQyIaK59eE/dNPGjQJAxdwJ9acJE/kJunKQ09dSekGvTDFXbh3oX2gJ5Hz3kv06lkH6F3FtHINMqMWaKvvwQXS7dEJ/qgTT+SlV7q2q2BwCdwJFLmW+zY3TJdJtJ7Tr4xxVMpDwUKX7KrsytEvkXNTQXK/BcjNcWgPdU+fjpwWSmeMa2bcRwS5b7REpISbEgol73m2oyKbH9K0aFP9wBaS8=
  - secure: Lf8rnEz/SNJwn5O9UNoAVecpKTY+VRewjAnUnnFW3V4Wuii/BM1Acugu6ac5nfra32HBiVacIlDHJV11Fmk1/hueENE+HO2VVYuHkPRs5rphc4cYUnCyiclaoTh+2sahEtQnjcVPlx/gaTHus4WcWeKmX/+2krVoL6Htpc16nEF122SS022gGkWVC8HFDRvDbzecvaUvMrY8pCLsj3Y7uC6p2mKkNYLoQIWrRiSa6m3byChM/jNhdXonqxgkm2tOw/7p0ayPJTH6KHdhnwVowox0jlF6tdK4j66cssh0NXVvhiiqLQY8mJBivLYZJRrm7ra+oZLtMk5hSoTEYwJRew+K0+BkMst8YK78MALBYPPPsBcknlYe2df/VRetu8TKzh3/nPfZB+JgcfTWbufxSanB1G+LpKbJ7qKqu/rgCyoQsmnYGySdJ8JX4Ss2cuZllM+yd9m2p0GwqI/VHR5xkLR3WCGUGH+yOVl8AkkzMrPEgjO6Soui1arITDEwqS/Q8G6zDkj+F9ye5EqC+F5e43jt8ui6v90+Vnl1zg3YlpQkvQa2wRghjuuQUyoqiJslP/yPBUm7Vp/UNzHqM+snNKDlDUfCHJsYvkVxtWXd8FUXcCcuvOJHrna7oiH43EuxKYNMeHcoRWXB6/aFs5If3R1Mq8wwWCtotKGUR6s0tBU=
  - secure: TgpPMYd+lABVEF29PKOg319TkckFsJAYixa+t5j7z2cKw1FO9BfUM47yeW3rmf49m5uTv6ALWZHqaA6H585iuHFA+3Lhqx9KZJ0l3e1nUYufes36cT3rIGAVMXbunXkWMVT4pBHUXLqiaqhGKVS6D76nvhmJtQn69p9eihLzjZKGvf7L+PcJ3+hxqO777LUqmBRhMdaLb3jAgyPFbueAeQsWJ7VAIhxCMt/XyMpQXSYp5G+SFMLwxiwA44PmdEcxwhWDzqiTVwCX2hqJhOtYw6yhEa77ANrgwuNBKPO82IwV0cmSjHqNxDxVE/vR13aoIPAEDxys2OI+RjQLkqv/vMKQfXz/JWLSvWg/mi/OjwkECX9vNHXn+1WU9Ztt9rIhS9L44vQSzF/RxWrR9yY+cZq6Gb7xskl4lvVIHHuTpssevbmPZER9sXSEPrBcQhhRP9j+YOWqPeOorIgxBIx1sOLyDU7Op4ijdTgbr5zpY7ckjTRJZXdqfKiL9xKoKqINVrgkADMehUUjo7GZd+Gp/Sp8QD459xg+Am7Q5vCYRDSs3Dvy6vEybRoImacMn9J5s80ke4+5Ashe3cZG8CGkqn4r/dycgpgwfStDO95g2wtlFnMZ0A0LS3uMVgC4QQGNs0aCDG6AgaT9AR8gLDp+jGK1gb5jBXGFmScm1fms5pU=
before_install:
- npm install -g redoc-cli@0.8.3
- pip install --user pip --upgrade
- pip install --user awscli --upgrade
- export PATH=$HOME/.local/bin:$PATH
script:
- redoc-cli bundle openapi.yaml --output build/index.html --title "Brave New Coin
  API documentation" --template template.hbs --options.expandResponses=all --options.noAutoAuth
  --options.theme.colors.primary.main=#333F48 --options.theme.typography.links.color=#32329f
  --options.theme.typography.links.visited=#32329f --options.theme.typography.headings.fontFamily='Lato,
  sans-serif' --options.expandResponses=all
- cp -R images build/
cache:
  directories:
  - node_modules
deploy:
  provider: s3
  bucket: docs.bravenewcoin.com
  skip_cleanup: true
  region: "$AWS_DEFAULT_REGION"
  local_dir: build
  acl: public_read
  access_key_id: "$AWS_ACCESS_KEY_ID"
  secret_access_key: "$AWS_SECRET_ACCESS_KEY"
  on:
    branch: master
after_deploy:
- aws cloudfront create-invalidation --distribution-id $CF_DISTRIBUTION_ID --paths
  "/*"
notifications:
  slack:
    secure: AptXFEUQSTTPD5F/E82hMJslA9nk1cOUQOutic2xGDHy9UgTvfilPRuaRU8ERSOSQMdmIi38LXBK9dMOtkIx+pUaR2hKkejWi98pmVAjCujw4MHVfouOklGrqb+6vNETh/ZmD9QB/J8XM77f4O4pkISE4cg0GWf1ngK4L8Uwrgti/6ty5FdDoj15OvzoHHvQFLukXEEIUFKVoOzn3jUespiapGDOzBWCJIRIWjo59NLK+7YvAgsxTcfNTvdAWxIL0IIe1kXhHHQGHLA75SR3wvxY/+ffu6vcUlHIiQDmhDwE+kY8q9Yo3nE3wUpKJPzAv1jE5JhUCwLALuad04ghYtGbsge2NSZTKSDzVH1ecyCR1fUAbvbyq+KDrm3AlfGBeI1Jme5+xNKNVS6FvybxBMqHHSFHSl62G9v2xKoZZMR/MAO6Nz0RrOseq68Yz/PeT+O3jUPz3dmLjrr8ZVv4Mu0seSbVFhiN27Wr5qoObwHwdWRDPWoiKzORxiKY9sC4JkZoMcVV974I7p6rM9fQJCDFl5v9XUT7knY3QB5OACzsmh6nXOAVsR/CIPNEXrauWIkeRj2vEJKsvN+0MVzHvaaFBH0VDQfvL5jpWxWR0eNvEI/5jSA+i0h+EU9nstnFHEAz6ChRrmunojIW5g8gEilfXq4g60VdMzzbxHgZpu4=
