<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>{{title}}</title>
  <!-- needed for adaptive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      padding: 0;
      margin: 0;
      font-family: 'Lato, sans-serif' !important;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Lato, sans-serif' !important;
      color: #333F48 !important;
    }
    label {
      font-family: 'Lato, sans-serif' !important;
    }
    .menu-content {
        color: #333F48 !important;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700" rel="stylesheet">
  {{{redocHead}}}
</head>

<body>
  {{{redocHTML}}}
</body>

</html>
